#page-landing {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#page-landing .content-wrapper {
  width: 100%;
  height: 100%;
  max-width: 1100px;
  max-height: 680px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
