#title {
  text-align: center;
}

.person-list {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px dashed black;
  margin: 25px;
}

.person-list .person {
  display: flex;
  justify-content: center;
  width: 1100px;
  margin: 0px 0px 0px 0px;
}

.person-list .person div {
  margin: 0 10px;
  padding: 25px;
}

.person-list .person .user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
